<div class= "quest_map" id="map" ></div>

<div ng-controller ="inputController as controller" layout="column" ng-cloak class="md-inline-form form-left quest_form">

    <md-content layout-padding >

        <md-whiteframe class="md-whiteframe-6dp"  layout layout-align="right top">

            <form name="userForm">

                <div layout-gt-sm="row">
                    <md-input-container>
                        <label>Titel</label>
                        <input ng-model="controller.user.title">
                    </md-input-container>
                    <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
                </div>

                <md-input-container class="md-block">
                    <label>Type Opdracht</label>
                    <md-select ng-model="">
                        <md-option ng-repeat="quest in controller.quests">
                            {{quest}}
                        </md-option>
                    </md-select>
                </md-input-container>

                </br>

                <md-input-container class="md-block">
                    <label>Beschrijving</label>
                    <textarea ng-model="controller.user.description" columns="1" md-maxlength="150" rows="5"></textarea>
                </md-input-container>

                <md-button class="md-raised">Opslaan</md-button>
            </form>


        </md-whiteframe>



    </md-content>
</div>

