/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inputdemoBasicUsage .md-datepicker-button {
  width: 36px; }

.form-left {
  display: inline-block;
}


.map-right {
  display: inline-block;

}

#flyingButton {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

hr{
  color: #FFFFFF;
  background: #FFFFFF;
  width: 280px;
  height: 1px;
}

.game-grid{
  color: #FFFFFF;
  text-align: center;
}

.game-grid p{
  color: #BBDEFB;
  text-align: center;
}

.game-grid md-card{
  background: #2196F3;
  box-shadow: 1px 1px 1px 1px #B6B6B6;
}

/*
md-card-content{
  display:block;
  margin:auto;
}
*/

.custom-button{
  background: #FFC107;
  width: 100%;
}

.md-card-image{
  width:150px;
  height:150px;
  display:block;
  margin:auto;
}

.quest_map {
  width: 720px;
  height: 630px;
  float: left;
}

.md-datepicker {
  padding-right: 0px;
}

.quest_form {
  float: right;
}

