<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <!-- FONT -->
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

  <!--LEAFLET-->
  <script src="bower_components/mapbox.js/mapbox.js"></script>



  <script src="bower_components/leaflet-draw/dist/leaflet.draw.js"></script>
  <script src="bower_components/leaflet-geodesy/leaflet-geodesy.js"></script>

  <!--CSS-->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="bower_components/leaflet-draw/dist/leaflet.draw.css">
  <link rel="stylesheet" href="bower_components/mapbox.js/mapbox.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

  <link rel="stylesheet" href="styles/app.css">
  <link rel="stylesheet" href="styles/createQuest.css">
  <link rel="stylesheet" href="styles/gameOverview.css">



</head>
<body ng-controller="NavController as nc" layout="column">

<md-toolbar layout="row">
  <md-button class="menu" ng-click="nc.toggleNav()" aria-label="Show User List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>Zaxion</h1>
</md-toolbar>

<div flex layout="row">
  <md-sidenav md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-z2" md-component-id="left">
    <md-list>
      <md-list-item ng-repeat="tab in tabs">
        <a href={{tab.url}}>
          <md-button>
            <p>{{tab.title}}</p>
          </md-button>
        </a>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content flex id="content">

    <!-- THE VIEW -->
    <div ng-view></div>

  </md-content>
</div>



  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

<!-- Hier alle custom views JavaScript implementeren! -->
  <script src="scripts/app.js"></script>
  <script src="views/createGameView/createGame.js"></script>
  <script src="views/gridView/gamesOverview.js"></script>
<!-- Hier alle custom views JavaScript implementeren! -->

  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>

</body>
</html>