<!DOCTYPE html>
<html lang="en" ng-app="login">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>


    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="styles/login.css">
    <link rel="stylesheet" href="styles/styles.css">



</head>

<body>
<md-toolbar layout="row">
    <md-button class="menu" ng-click="nc.toggleNav()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>Zaxion</h1>
</md-toolbar>


<div ng-controller="controller" layout="column" id="inlogForm" class="md-inline-form " >
    <md-content md-theme="docs-dark" layout-padding layout-gt-sm="row" >
        <form name="userForm">
            <md-input-container class="md-block">
                <label>Gebruikersnaam</label>
                <input ng-model="name">
            </md-input-container>

            <md-input-container  class="md-block">
                <label>Wachtwoord</label>
                <input ng-model="wachtwoord" type="password">
            </md-input-container>
            <md-button ng-click="controle()" class="invoerButton" >inloggen</md-button>
        </form>
    </md-content>

</div>


<script src="login.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
</body>
</html>