.quest_map {
    width: 720px;
    height: 630px;
    float: left;
}

.md-datepicker {
    padding-right: 0px;
}

#QuestEditorTitle {
    text-align: center;
    font-size: x-large;
    font-weight: 500;
    color: #444444;
}

.quest-form {
}

#quest-save-button,
.visible{
    width: 50%;
}

.invisable {
    display: none;
}

.custom-input-label {
    color: #A5A5A5;
    font-size: small;
}

