body
{
    background-color: lightgray;
}

#loginForm
{
    background-color: white;
    border-radius: 1px;
    box-shadow: 5px 5px #E8E8E8 ;
    padding: 5%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);

}

.submitButton
{
    background-color: #FFC107;
}


