<div class= "map-right" id="map" style="width:  800px; height: 800px;"></div><!--


--><div ng-controller="QuestInputController" layout="column" ng-cloak class="md-inline-form form-left">

    <md-content layout-padding>

        <form name="userForm">

            <div layout-gt-sm="row">
                <md-input-container>
                    <label>Titel</label>
                    <input ng-model="user.title">
                </md-input-container>
                <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
            </div>

            <md-input-container class="md-block">
                <label>Type Opdracht</label>
                <md-select ng-model="user.state">
                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                        {{state.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>

            </br>

            <md-input-container class="md-block">
                <label>Beschrijving</label>
                <textarea ng-model="user.biography" columns="1" md-maxlength="150" rows="5"></textarea>
            </md-input-container>

        </form>

    </md-content>
</div>